@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@300;400&display=swap");
body {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #45b0a9), to(#6971ff));
  background: linear-gradient(90deg, #020024 0%, #45b0a9 0%, #6971ff 100%);
}

#root {
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todos-list {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0.5) 20px 20px 30px;
          box-shadow: rgba(0, 0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0.5) 20px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-add {
  background-color: white;
  color: black;
  height: 50px;
  width: 50px;
  border: none;
  margin-left: auto;
}

.todos-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todos-header h2 {
  font-style: italic;
  color: white;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  justify-self: flex-start;
}

.todo-checkbox {
  background-color: red;
}

button {
  color: black;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

.fa-remove {
  color: #af0606;
}

.fa-edit {
  color: #161616;
}

.todos-container {
  margin-top: 100px;
  width: 500px;
  zoom: 1.2;
}

.todo-done {
  text-decoration: line-through;
  font-style: italic;
  color: #464646 !important;
}

.todo {
  background: white;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo p {
  padding-left: 5px;
  font-size: 18px;
  color: black;
  text-align: left;
}

.todo button {
  border: none;
  zoom: 1.7;
}

.todo .todo-buttons {
  margin-left: auto;
  -ms-grid-column-align: right;
      justify-self: right;
}

input[type='checkbox'] {
  margin-left: 5px !important;
  zoom: 1.8;
}

.popup-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  gap: 20px;
  margin-top: 20px;
}

select:focus,
input:focus {
  outline: none;
}

.prio-1 {
  border-left: 12px solid #78e678;
}

.prio-2 {
  border-left: 12px solid #e9b936;
}

.prio-3 {
  border-left: 12px solid #d12f2a;
}

select {
  color: white;
  border: none;
  background: #3498db;
  width: 170px;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom: 5px solid #407ca3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-inner {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, rgba(188, 190, 218, 0.9)), to(rgba(188, 190, 218, 0.9)));
  background: linear-gradient(90deg, #020024 0%, rgba(188, 190, 218, 0.9) 0%, rgba(188, 190, 218, 0.9) 100%);
  border-radius: 15px;
  width: 40%;
  height: 30%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.popup-inner h1 {
  font-size: 30px;
  margin-top: 5px;
  padding-bottom: 20px;
  color: white;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  justify-self: flex-start;
}

.popup-inner input[type='text'] {
  border-radius: 5px;
  height: 20px;
  border: 1px solid black;
  padding: 10px 0;
  font-size: 22px !important;
}

.popup-inner .add-item-button,
.popup-inner .close-button {
  color: white;
  border: none;
  background: #3498db;
  width: 120px;
  height: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom: 4px solid #407ca3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.popup-inner input[type='text'] {
  text-align: center;
  width: 60%;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .popup-inner {
    width: 80%;
    height: 300px;
  }
  .popup-inner input[type='text'] {
    width: 80%;
    font-size: 20px !important;
  }
}

@media screen and (max-width: 992px) {
  .popup-inner {
    width: 80%;
    height: 250px;
  }
  .popup-inner input[type='text'] {
    width: 80%;
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */